:root {
  --bg: #242424;
  --color: #ffffff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}

p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.heading {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.file-container {
  margin: 0 auto;
  width: fit-content;

  height: max(40vh, 400px);
  width: max(50vw, 600px);
  border: 2px dashed var(--color);
  padding: 40px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2.5rem;
}

.file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  background-color: var(--color);
  color: var(--bg);

  padding: 4px 8px;
  border-radius: 4px;
}

.file span {
  margin-top: 0.25rem;
  cursor: pointer;
}

.button {
  padding: 0.5rem 1rem;
  background-color: var(--bg);
  color: var(--color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 5px rgb(57, 43, 100);
  cursor: pointer;
}

.error {
  color: rgb(207, 77, 77);
  text-align: center;
  margin-top: 1.25rem;
}

.upload-container {
  margin: 0 auto;

  height: max(40vh, 400px);
  width: max(50vw, 600px);
  border: 2px dashed var(--color);
  padding: 40px;
  border-radius: 8px;

  display: grid;
  place-items: center;

  gap: 2.5rem;
}

.upload-container input {
  display: none;
}

.upload-container .text {
  font-weight: 600;
}

.upload-container.drag-active {
  background-color: color-mix(in oklab, #4c14a7 10%, white);
  color: var(--bg);

  border: 2px dashed var(--bg);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: rgb(214, 214, 214);
    --color: #242424;
  }
}
